In [1]:
import pandas as pd

In [2]:
#python - mysql => pymysql
import pymysql

In [3]:
df= pd.read_csv("C:/Users/Dhanush/my_data.csv")

In [4]:
df.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
Order Number        int64
Line Item           int64
Order Date         object
Delivery Date      object
CustomerKey         int64
StoreKey            int64
Quantity            int64
Currency Code      object
Gender             object
Name               object
City               object
State Code         object
State              object
Zip Code           object
Continent          object
Birthday           object
Age                 int64
AgeGroup           object
Country            object
Square Meters     float64
Open Date          object
Open Year           int64
Date               object
Currency           object
Exchange          float64
Under_25          float64
Age_25_35         float64
Age_36_50         float64
Above_50          float64
dtype: object

In [5]:

# Missing dates become NaT
df['Delivery Date'] = df['Delivery Date'].fillna(pd.NaT)

In [6]:
import pandas as pd

# Let pandas guess the format
for col in ['Delivery Date', 'Birthday', 'Open Date', 'Order Date']:
    df[col] = pd.to_datetime(df[col], errors='coerce')

In [7]:
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='Dhanush@2005')

In [8]:
#writing the file
myconnection.cursor().execute("create database guvi_project")

1

In [10]:
import pandas as pd

# 1️⃣ Clean column names
col = [i.replace(" ", "_") for i in df.columns]

# 2️⃣ Map Pandas dtypes to MySQL types
dtype_map = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'TEXT',
    'category': 'TEXT',
    'datetime64[ns]': 'DATETIME',
    'bool': 'BOOLEAN'
}

columns = ",".join(f"{i} {dtype_map[str(j)]}" for i, j in zip(col, df.dtypes))

# 3️⃣ Create table
table_name = input("Enter table name: ")
cursor = myconnection.cursor()
cursor.execute(f"CREATE TABLE guvi_project.{table_name} ({columns})")
myconnection.commit()

# 4️⃣ Prepare data: convert NaN / NaT to None
data = [tuple(None if pd.isna(x) else x for x in row) for row in df.to_numpy()]

# 5️⃣ Insert data safely using parameterized query
sql = f"INSERT INTO guvi_project.{table_name} VALUES ({', '.join(['%s']*len(df.columns))})"
cursor.executemany(sql, data)
myconnection.commit()

Enter table name:  df